@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Karla", sans-serif;
  max-width: 144rem;
  margin: 0 auto; }
  @media screen and (min-width: 1441px) {
    body {
      box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2); } }

.container {
  max-width: 111rem;
  margin: 0 auto;
  width: 90%; }

img {
  width: 100%;
  display: block; }

h1,
h2 {
  font-family: "DM Serif Display", serif; }

p {
  line-height: 1.5; }

li {
  list-style: none; }

.cta {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  cursor: pointer;
  border: 1.5px solid #fff;
  background: #2d2640;
  color: #fafafa;
  transition: all 0.3s ease; }
  .cta:hover {
    background: #fafafa;
    color: #2d2640; }
  .cta--nav {
    font-family: "Karla", sans-serif;
    letter-spacing: 1.36px;
    font-size: 2rem;
    width: 87%;
    max-width: 34rem;
    height: 5.6rem; }
    @media screen and (min-width: 768px) {
      .cta--nav {
        background: none;
        color: #2d2640;
        font-size: 1.3rem;
        letter-spacing: 1.5px;
        font-weight: bold;
        border: 1px solid #2d2640;
        width: 14.6rem;
        height: 4rem; }
        .cta--nav:hover {
          background: #2d2640;
          color: #fafafa; } }
  .cta--hero {
    width: 14.6rem;
    height: 4rem;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 1.5px; }
    @media screen and (min-width: 992px) {
      .cta--hero {
        margin-top: 2rem; } }

nav {
  padding: 2.4rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (min-width: 768px) {
    nav {
      padding: 1rem 0 1.6rem 0.3rem; } }
  @media screen and (min-width: 768px) {
    nav .logo {
      padding-top: 0.5rem; } }
  nav .nav_links {
    transform: scale(0);
    position: fixed;
    list-style: none;
    height: 58.7rem;
    width: 100%;
    top: 7.5rem;
    left: 0;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    background: #2d2640;
    transform-origin: top right;
    text-align: center;
    padding: 2.8rem 0 4rem 0;
    font-weight: 700;
    z-index: 10;
    text-transform: uppercase;
    list-style: none;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      nav .nav_links {
        position: static;
        display: flex;
        display: grid;
        grid-template-columns: repeat(4, max-content);
        column-gap: 2.8rem;
        transform: none;
        background: transparent;
        height: unset;
        width: unset;
        padding: 0;
        margin: 0; } }
    nav .nav_links li {
      line-height: 4rem;
      padding: 1.1rem 0; }
      @media screen and (min-width: 768px) {
        nav .nav_links li {
          padding-bottom: 0; } }
      nav .nav_links li:last-child::after {
        content: "";
        background-image: url(/images/bg-pattern-mobile-nav.svg);
        position: absolute;
        left: 0;
        bottom: 0;
        height: 218px;
        width: 100%;
        width: 100%;
        background-size: cover; }
        @media screen and (min-width: 768px) {
          nav .nav_links li:last-child::after {
            display: none; } }
      nav .nav_links li a {
        text-decoration: none;
        color: #fafafa;
        font-size: 2rem;
        padding: 1.2rem;
        letter-spacing: 1.36px;
        font-weight: 400; }
        nav .nav_links li a:hover {
          color: #95a9c6; }
        @media screen and (min-width: 768px) {
          nav .nav_links li a {
            color: #837d87;
            font-size: 1.3rem;
            letter-spacing: 1.5px;
            font-weight: bold;
            padding: 0; }
            nav .nav_links li a:hover {
              color: #2d2640; } }
  nav #toggle {
    display: none; }
  nav .menu-icon {
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    background-image: url(/images/icon-hamburger.svg); }
    @media screen and (min-width: 768px) {
      nav .menu-icon {
        display: none; } }
  nav #toggle:checked + .menu-icon {
    background-image: url(/images/icon-close.svg); }
  nav #toggle:checked ~ .nav_links {
    transform: scaleY(1); }

.hero {
  text-align: center;
  background: #2d2640; }
  @media screen and (min-width: 768px) {
    .hero {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: left;
      padding: 5rem 10%;
      max-height: 600px; }
      .hero::before {
        content: url(/images/bg-pattern-intro-left-desktop.svg);
        position: absolute;
        bottom: -33.5rem;
        left: 0; }
      .hero::after {
        content: url(/images/bg-pattern-intro-right-desktop.svg);
        position: absolute;
        top: -8rem;
        right: 0; } }
  @media screen and (min-width: 768px) {
    .hero__image {
      flex: 1;
      order: 2; } }
  @media screen and (min-width: 1200px) {
    .hero__image img {
      margin-top: 26.5rem;
      margin-left: -0.5rem;
      height: 650px;
      width: 540px; } }
  .hero__text {
    color: #fafafa;
    padding: 9.2rem 2rem;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 768px) {
      .hero__text {
        flex: 1;
        order: 1;
        display: grid;
        grid-template-rows: repeat(3, max-content);
        row-gap: 2rem; } }
    @media screen and (min-width: 1361px) {
      .hero__text {
        grid-template-rows: 16rem 8rem 5rem; } }
    .hero__text::before {
      content: url(/images/bg-pattern-intro-left-mobile.svg);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
      @media screen and (min-width: 768px) {
        .hero__text::before {
          display: none; } }
    .hero__text::after {
      content: url(/images/bg-pattern-intro-right-mobile.svg);
      position: absolute;
      bottom: -18rem;
      right: 0rem; }
      @media screen and (min-width: 768px) {
        .hero__text::after {
          display: none; } }
    .hero__text h1 {
      font-family: "DM Serif Display", serif;
      font-size: 4.8rem;
      line-height: 1;
      letter-spacing: -0.67px; }
      @media screen and (min-width: 768px) {
        .hero__text h1 {
          font-size: 5.5rem; } }
      @media screen and (min-width: 1200px) {
        .hero__text h1 {
          font-size: 7.2rem;
          line-height: 88%;
          letter-spacing: -1px;
          padding-top: 3.5rem;
          padding-right: 3rem; } }
    .hero__text p {
      font-size: 1.6rem;
      line-height: 1.625; }
      @media screen and (min-width: 1200px) {
        .hero__text p {
          padding-right: 1rem;
          padding-top: 1.2rem; } }

.features {
  text-align: center;
  padding-top: 8.75rem;
  padding-bottom: 9rem; }
  .features hr {
    width: 40%;
    margin: 0 auto; }
  .features__heading {
    color: #2b272f;
    font-size: 2.8rem;
    padding: 2rem 0 4.25rem; }
  .features__list li {
    padding-bottom: 3rem;
    display: grid;
    grid-template-rows: 5.5rem 3.8rem 5rem;
    grid-gap: 1rem; }
    .features__list li img {
      width: 5.375rem;
      height: 5.375rem;
      margin: 0 auto; }
    .features__list li h2 {
      color: #2b272f;
      font-size: 1.7rem;
      align-self: end; }
    .features__list li p {
      color: #837d87; }
