@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

//VARIABLES
//Colors
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$deep-violet: hsl(270, 9%, 17%);
$grayish-violet: hsl(273, 4%, 51%);
$light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$font-heading: "DM Serif Display", serif;
$font-body: "Karla", sans-serif; //400,700

//MEDIA Queries
@mixin Sm {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin Med {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin Lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

$animate: all 0.3s ease-in-out;

//RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//MAIN STYLES
html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  // max-width: 144rem;
  margin: 0 auto;

  @media screen and (min-width: 1441px) {
    // box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.2);
  }
}

img {
  width: 100%;
  display: block;
}

h1,
h2 {
  font-family: $font-heading;
  color: $white;
  font-weight: 400;
}

h3 {
  font-size: 1.3rem;
}

p {
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
  font-size: 2rem;
  padding: 1.2rem;
  letter-spacing: 1.36px;
  font-weight: 400;
  transition: 0.2s ease;

  &:hover {
    color: $grayish-blue;
  }

  @include Med {
    color: $grayish-violet;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    padding: 0;

    &:hover {
      color: $dark-violet;
    }
  }
}
