//VARIABLES
//Colors
$primary-dark-violet: hsl(256, 26%, 20%);
$primary-grayish-blue: hsl(216, 30%, 68%);
$neutral-deep-violet: hsl(270, 9%, 17%);
$neutral-grayish-violet: hsl(273, 4%, 51%);
$neutral-light-gray: hsl(0, 0%, 98%);

$font-heading: "DM Serif Display", serif;
$font-body: "Karla", sans-serif; //400,700

//RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-body;
}

.wrapper {
  width: 100%;
  max-width: 90rem; //1440px
  margin: 0 auto;
}

.inner {
  width: 100%;
  max-width: 70rem; //1120px
  margin: 0 auto;
}

.inner-padding {
  padding: 0 1.5rem;
  // padding: 1.875rem 1.5rem;
}

img {
  width: 100%;
  display: block;
}

.cta {
  text-transform: uppercase;
  width: 9rem;
  height: 2.5rem;
  // color: $neutral-light-gray;
  // background: transparent;
  letter-spacing: 1px;
  font-size: 0.8rem;

  &--hero {
    color: $neutral-light-gray;
    background: transparent;
  }
}
