//VARIABLES
//Colors
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$deep-violet: hsl(270, 9%, 17%);
$grayish-violet: hsl(273, 4%, 51%);
$light-gray: hsl(0, 0%, 98%);

$font-heading: "DM Serif Display", serif;
$font-body: "Karla", sans-serif; //400,700

//MEDIA Queries

@mixin Med {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin Lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

//RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  max-width: 144rem;
  margin: 0 auto;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
  width: 90%;
}

img {
  width: 100%;
  display: block;
}

h1,
h2 {
  font-family: $font-heading;
}

p {
  line-height: 1.5;
}

li {
  list-style: none;
}

.cta {
  text-transform: uppercase;
  width: 9rem;
  height: 2.5rem;
  // color: $neutral-light-gray;
  // background: transparent;
  letter-spacing: 1px;
  font-size: 0.8rem;
  cursor: pointer;

  &--nav {
    color: $light-gray;
    background: $dark-violet;
    border: 1.5px solid #fff;
    font-family: $font-body;
    letter-spacing: 1.36px;
    font-size: 2rem;
    width: 87%;
    max-width: 34rem;
    height: 5.6rem;

    &:hover {
      background: $light-gray;
      color: $dark-violet;
    }

    @include Lg {
      background: none;
      color: $dark-violet;
      font-size: 1.3rem;
      letter-spacing: 1.5px;
      font-weight: bold;
      border: 1px solid $dark-violet;
      width: 14.6rem;
      height: 4rem;

      &:hover {
        background: $dark-violet;
        color: $light-gray;
      }
    }
  }
}
