.container {
  max-width: 111rem;
  margin: 0 auto;
  width: 90%;
}

.cta {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8rem;
  cursor: pointer;
  border: 1.5px solid #fff;
  // background: $dark-violet;
  color: $light-gray;
  transition: $animate;
  padding: 1.2rem 2.65rem;

  &:hover {
    background: $light-gray;
    color: $dark-violet;
  }

  &--nav {
    // color: $light-gray;
    // background: $dark-violet;
    // border: 1.5px solid #fff;
    font-family: $font-body;
    letter-spacing: 1.36px;
    font-size: 2rem;
    width: 87%;
    max-width: 34rem;
    // height: 5.6rem;

    @include Med {
      background: none;
      color: $dark-violet;
      font-size: 1.3rem;
      letter-spacing: 1.5px;
      font-weight: bold;
      border: 1px solid $dark-violet;
      width: 14.6rem;
      height: 4rem;

      &:hover {
        background: $dark-violet;
        color: $light-gray;
      }
    }
  }

  &--action {
    // padding: 1.2rem 2.45rem;
    padding: 1.1rem 2.35rem;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    line-height: 1.52rem;
  }

  &--hero {
    width: 14.6rem;
    height: 4rem;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.52rem;
    letter-spacing: 1.5px;
    justify-self: center;
    padding: 1.2rem;

    @include Sm {
      margin-top: 1rem;
    }

    @include Med {
      justify-self: left;
      width: auto;
    }

    @include Lg {
      margin-top: 1.6rem;
    }
  }
}

.horizontal {
  &::before {
    content: "";
    position: absolute;
    width: 15rem;
  }

  &--hero {
    &::before {
      display: none;
      border-top: 1px solid #fff;
      top: -6.4rem;

      @include Lg {
        display: block;
      }
    }
  }

  &--features {
    &::before {
      border-top: 1px solid #c396c6;
      left: 50%;
      margin: -3.2rem 0 0 -7.5rem;

      @include Lg {
        left: unset;
        margin: -4.6rem 0 0 0;
      }
    }
  }
}
