.features {
  text-align: center;
  padding: 14rem 0;

  @include Lg {
    text-align: left;
    padding-top: 18rem;
    position: relative;
  }

  @include xl {
    padding-top: 32rem;
  }

  &__heading {
    color: $deep-violet;
    font-size: 4.8rem;
    font-weight: 400;
    letter-spacing: -0.67px;
    padding-top: 3.2rem;
    // padding-bottom: 8rem;

    @include Lg {
      font-size: 7.2rem;
      letter-spacing: -1px;
    }
  }
  &__list {
    padding-top: 7.2rem;
    @include Lg {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      padding-top: 7.9rem;
    }
    li {
      padding-bottom: 4rem;
      display: grid;
      grid-template-rows: 10rem 4rem 9rem;
      grid-gap: 1.8rem;

      max-width: 60rem;
      margin: 0 auto;

      @include Lg {
        max-width: 35rem;
      }

      img {
        width: 8.6rem;
        height: 8.6rem;
        margin: 0 auto;

        @include Lg {
          margin: 0;
        }
      }
      h2 {
        color: $deep-violet;
        font-size: 2.8rem;
        // align-self: end;
        letter-spacing: -0.39px;
        font-weight: 400;
      }
      p {
        color: $grayish-violet;
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-top: -0.5rem;
        padding: 0 0.7rem;

        @include Lg {
          padding: 0;
        }
      }
    }
  }
}
