.hero {
  text-align: center;
  background: $dark-violet;

  @include Med {
    position: relative;
    text-align: left;
    max-height: 60rem;

    &::before {
      content: url(/images/bg-pattern-intro-left-desktop.svg);
      position: absolute;
      bottom: -33.5rem;
      left: 0;
    }

    &::after {
      content: url(/images/bg-pattern-intro-right-desktop.svg);
      position: absolute;
      top: -8rem;
      right: 0;
    }
  }

  .container {
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__content {
    @include Med {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .image {
    @include Med {
      flex: 1;
      order: 2;
    }

    img {
      @include xl {
        margin-left: 1rem;
        width: 540px;
        transform: translateY(10.5rem);
      }
    }
  }

  .heading {
    color: $white;
    // padding: 9.2rem 2rem;
    padding: 9.1rem 2.5rem 9.3rem;
    position: relative;
    // z-index: 2;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    // row-gap: 2rem;
    row-gap: 1.7rem;

    @include Med {
      flex: 1;
      order: 1;
      padding-left: 0;
    }

    @include xl {
      padding: 0 2rem 1.5rem 0;
      grid-template-rows: 14rem 8rem 5rem;
      row-gap: 1.4rem;
    }

    &::before {
      content: url(/images/bg-pattern-intro-left-mobile.svg);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;

      @include Med {
        display: none;
      }
    }

    &::after {
      content: url(/images/bg-pattern-intro-right-mobile.svg);
      position: absolute;
      bottom: -18rem;
      right: 0rem;

      @include Med {
        display: none;
      }
    }

    h1 {
      font-family: $font-heading;
      font-size: 4.8rem;
      line-height: 1;
      letter-spacing: -0.67px;
      position: relative;

      @include Med {
        font-size: 5.5rem;
        position: relative;
      }

      @include xl {
        font-size: 7.2rem;
        line-height: 89%;
        letter-spacing: -1px;
        // font-weight: 400;
        padding-right: 2rem;
      }
    }

    p {
      font-size: 1.6rem;
      line-height: 2.6rem;

      @include xl {
        padding-top: 0.2rem;
      }
    }
  }
}
