.hero {
  text-align: center;
  background: $dark-violet;

  @include Med {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;

    padding: 5rem 3vw;
    max-height: 60rem;

    &::before {
      content: url(/images/bg-pattern-intro-left-desktop.svg);
      position: absolute;
      bottom: -33.5rem;
      left: 0;
    }

    &::after {
      content: url(/images/bg-pattern-intro-right-desktop.svg);
      position: absolute;
      top: -8rem;
      right: 0;
    }
  }

  @include Xl {
    padding: 5rem 16.5rem;
  }

  &__image {
    @include Med {
      flex: 1;
      order: 2;
    }

    img {
      @include Xl {
        margin-top: 26.5rem;
        margin-left: 1rem;
        height: 650px;
        width: 540px;
      }
    }
  }

  &__text {
    color: $light-gray;
    padding: 9.2rem 2rem;
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-rows: repeat(3, max-content);
    row-gap: 2rem;

    @include Med {
      flex: 1;
      order: 1;
      padding-left: 0;
    }

    @media screen and (min-width: 1361px) {
      grid-template-rows: max-content 8rem 5rem;
    }

    &::before {
      content: url(/images/bg-pattern-intro-left-mobile.svg);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      @include Med {
        display: none;
      }
    }

    &::after {
      content: url(/images/bg-pattern-intro-right-mobile.svg);
      position: absolute;
      bottom: -18rem;
      right: 0rem;

      @include Med {
        display: none;
      }
    }

    h1 {
      font-family: $font-heading;
      font-size: 4.8rem;
      line-height: 1;
      letter-spacing: -0.67px;
      position: relative;

      @include Med {
        font-size: 5.5rem;
        position: relative;
      }

      @include Xl {
        font-size: 7.2rem;
        line-height: 88%;
        letter-spacing: -1px;
        padding: 3.5rem 3rem 0 0;
      }
    }

    p {
      font-size: 1.6rem;
      line-height: 1.625;

      @include Xl {
        // padding-right: 1rem;
        padding-top: 1.2rem;
      }
    }
  }
}
