nav {
  padding: 2.4rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include Med {
    // padding: 2.1rem 0 0 0.3rem;
    // padding: 2rem 0 1.8rem 0.3rem;
    padding: 1rem 0 1.6rem 0.3rem;
  }

  .logo {
    @include Med {
      padding-top: 0.5rem;
    }
  }

  .nav_links {
    transform: scale(0);
    position: fixed;
    list-style: none;
    height: 58.7rem;
    width: 100%;
    top: 7.5rem;
    left: 0;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    background: $dark-violet;
    transform-origin: top right;
    text-align: center;
    padding: 2.8rem 0 4rem 0;
    font-weight: 700;
    z-index: 10;
    text-transform: uppercase;
    list-style: none;
    margin: 0 auto;

    @include Med {
      // left: 2rem;
      // right: 2rem;
      // width: 75rem;
    }

    @include Med {
      position: static;
      display: flex;
      display: grid;
      grid-template-columns: repeat(4, max-content);
      column-gap: 2.8rem;
      transform: none;
      background: transparent;
      height: unset;
      width: unset;
      padding: 0;
      margin: 0;
    }

    li {
      line-height: 4rem;
      padding: 1.1rem 0;
      // padding-bottom: 2.4rem;

      @include Med {
        padding-bottom: 0;
      }

      &:last-child {
        &::after {
          content: "";
          background-image: url(/images/bg-pattern-mobile-nav.svg);
          position: absolute;
          left: 0;
          bottom: 0;
          height: 218px;
          width: 100%;
          width: 100%;
          background-size: cover;

          @include Med {
            display: none;
          }
        }
      }

      a {
        text-decoration: none;
        color: $light-gray;
        font-size: 2rem;
        padding: 1.2rem;
        letter-spacing: 1.36px;
        font-weight: 400;

        &:hover {
          color: $grayish-blue;
        }

        @include Med {
          color: $grayish-violet;
          font-size: 1.3rem;
          letter-spacing: 1.5px;
          font-weight: bold;
          padding: 0;

          &:hover {
            color: $dark-violet;
          }
        }
      }
    }
  }

  #toggle {
    display: none;
  }

  .menu-icon {
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    background-image: url(/images/icon-hamburger.svg);
    @include Med {
      display: none;
    }
  }

  #toggle:checked + .menu-icon {
    background-image: url(/images/icon-close.svg);
  }

  #toggle:checked ~ .nav_links {
    transform: scaleY(1);
  }
}
